AracKiralama.MvcUI/Connected Services/KullaniciSoapService/KullaniciSoapService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KullaniciListele">
        <s:complexType />
      </s:element>
      <s:element name="KullaniciListeleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="KullaniciListeleResult" type="tns:ArrayOfKullaniciDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfKullaniciDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="KullaniciDTO" nillable="true" type="tns:KullaniciDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="KullaniciDTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="KullaniciId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Ad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Soyad" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Yas" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EhliyetAlimTarihi" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="KullaniciListeleSoapIn">
    <wsdl:part name="parameters" element="tns:KullaniciListele" />
  </wsdl:message>
  <wsdl:message name="KullaniciListeleSoapOut">
    <wsdl:part name="parameters" element="tns:KullaniciListeleResponse" />
  </wsdl:message>
  <wsdl:portType name="KullaniciSoapServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="KullaniciListele">
      <wsdl:input message="tns:KullaniciListeleSoapIn" />
      <wsdl:output message="tns:KullaniciListeleSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KullaniciSoapServiceSoap" type="tns:KullaniciSoapServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KullaniciListele">
      <soap:operation soapAction="http://tempuri.org/KullaniciListele" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="KullaniciSoapServiceSoap12" type="tns:KullaniciSoapServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KullaniciListele">
      <soap12:operation soapAction="http://tempuri.org/KullaniciListele" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KullaniciSoapService">
    <wsdl:port name="KullaniciSoapServiceSoap" binding="tns:KullaniciSoapServiceSoap">
      <soap:address location="http://localhost:59008/KullaniciSoapService.asmx" />
    </wsdl:port>
    <wsdl:port name="KullaniciSoapServiceSoap12" binding="tns:KullaniciSoapServiceSoap12">
      <soap12:address location="http://localhost:59008/KullaniciSoapService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>