AracKiralama.WinFormUI/Connected Services/AracSoapService/AracSOAPService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AracListe">
        <s:complexType />
      </s:element>
      <s:element name="AracListeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AracListeResult" type="tns:ArrayOfAracDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAracDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AracDTO" nillable="true" type="tns:AracDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AracDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AracAdi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Model" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BagajHacmi" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KoltukSayisi" nillable="true" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="GunlukKiralikFiyat" nillable="true" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="AracEkle">
        <s:complexType />
      </s:element>
      <s:element name="AracEkleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AracEkleResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Deneme">
        <s:complexType />
      </s:element>
      <s:element name="DenemeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DenemeResult" type="tns:AracDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="AracListeSoapIn">
    <wsdl:part name="parameters" element="tns:AracListe" />
  </wsdl:message>
  <wsdl:message name="AracListeSoapOut">
    <wsdl:part name="parameters" element="tns:AracListeResponse" />
  </wsdl:message>
  <wsdl:message name="AracEkleSoapIn">
    <wsdl:part name="parameters" element="tns:AracEkle" />
  </wsdl:message>
  <wsdl:message name="AracEkleSoapOut">
    <wsdl:part name="parameters" element="tns:AracEkleResponse" />
  </wsdl:message>
  <wsdl:message name="DenemeSoapIn">
    <wsdl:part name="parameters" element="tns:Deneme" />
  </wsdl:message>
  <wsdl:message name="DenemeSoapOut">
    <wsdl:part name="parameters" element="tns:DenemeResponse" />
  </wsdl:message>
  <wsdl:portType name="AracSOAPServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AracListe">
      <wsdl:input message="tns:AracListeSoapIn" />
      <wsdl:output message="tns:AracListeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AracEkle">
      <wsdl:input message="tns:AracEkleSoapIn" />
      <wsdl:output message="tns:AracEkleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Deneme">
      <wsdl:input message="tns:DenemeSoapIn" />
      <wsdl:output message="tns:DenemeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AracSOAPServiceSoap" type="tns:AracSOAPServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AracListe">
      <soap:operation soapAction="http://tempuri.org/AracListe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AracEkle">
      <soap:operation soapAction="http://tempuri.org/AracEkle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Deneme">
      <soap:operation soapAction="http://tempuri.org/Deneme" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AracSOAPServiceSoap12" type="tns:AracSOAPServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AracListe">
      <soap12:operation soapAction="http://tempuri.org/AracListe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AracEkle">
      <soap12:operation soapAction="http://tempuri.org/AracEkle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Deneme">
      <soap12:operation soapAction="http://tempuri.org/Deneme" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AracSOAPService">
    <wsdl:port name="AracSOAPServiceSoap" binding="tns:AracSOAPServiceSoap">
      <soap:address location="http://localhost:59008/AracSOAPService.asmx" />
    </wsdl:port>
    <wsdl:port name="AracSOAPServiceSoap12" binding="tns:AracSOAPServiceSoap12">
      <soap12:address location="http://localhost:59008/AracSOAPService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>